.control-panel {
    display: flex;
    flex-direction: column;
    margin: 0;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: 10px 10px;
    padding: 5px 10px;
    border: 1px solid #0099ff;
    border-radius: 10px;
    background-color: white;
}

