.game {
    display: grid;
    width: 546px;
    height: 546px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    margin-bottom: 20px;
}

.box {
    display: grid;
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 2em;
    border: 1px solid gray;
    width: 54px;
    height: 56px;
    caret-color: transparent;    
    outline-color: #4dd2ff;  
}

.starting {
    background-color: gainsboro;
}

.focused {
    background-color: #e6faff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}